body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/**************** Tag ***************/
.i-menu-grey {
  color: grey;
  transform: scaleX(1.4);
}

.i-star {
  color: #2c3e50;
  font-size: 30px;
  flex-shrink: 0;
  padding: 0 10px;
}

._left-star, ._right-star {
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2c3e50;
  flex-grow: 1;
}

.i-star-white {
  background-color: white;
}

/*************** Layout ***************/
div.nav-right ul li a {
  font-size: 14px;
}

footer section div.bg-dark p {
  font-size: 14px;
}


/*************** Utilitis ***************/
._fw-600 {
  font-weight: 600;
}

._black {
  color: #333333;
}

._blue-dark {
  color: #2c3e50;
}

._bg-dark-light {
  background-color: #3a546d;
}

._link-color {
  color: rgb(26,188,156);
}

/*************** Root ***************/
:root {
  --bs-dark-rgb: 44, 62, 80;
  --bs-success-rgb: 26,188,156;
}

/* sm 576 / md 768 / lg 992 */


